.header
{
    display: flex;
    justify-content: center;
}
.logo
{
}
.tlj
{
    font-size: 25pt;
}
nav
{
    display: flex;
    flex-direction: column;
}
.navi
{
    padding: 20px 0px 20px 20px;
    background-color: black;
}
.navig
{
    color: white;
}
.corp
{
    display: flex;
    width: 100%;
    background-color: blue;
}
.art
{
    width: 60%;
    background-color: rgb(188, 226, 17);
}
.asi
{
    width: 40%;
    background-color: grey;
}

.crochet
{
    font-size: 17pt;
}
.foot
{
    display: flex;
    padding: 20px 0px 20px 20px;
    background-color: black;
}
.autre
{
    color: white;
}
